@page
@model StudentsAppEmpty.Pages.StudentsModel
@{
}

<h2>Students</h2>

<table class="table">
    <thead class="table-dark">
        <tr><th>SEV_AUEB Students</th></tr>
    </thead>
    <tbody>
        @if (Model.Students != null)
        {
            @foreach (var name in Model.Students) {
                <tr><td>@name</td></tr> }
        }
    </tbody>

</table>
